---
---
<!DOCTYPE html>
<html lang="en-us">
  {% include head.md %}
  <body>
    {% include fork-me.md %}

    <section class="page-header">
      <h1 class="project-name">{{site.github.project_title}}</h1>
      <h2 class="project-tagline">{{site.github.project_tagline}}</h2>
      <a href="{{site.github.repository_url}}" class="btn">View on GitHub</a>
      <a href="{{site.github.issues_url}}" class="btn">View Issues</a>
      <a href="{{site.github.zip_url}}" class="btn">Download .zip</a>
      <a href="{{site.github.tar_url}}" class="btn">Download .tar.gz</a>
    </section>
    <section class="main-content">

      {{ site.data.readme.content | markdownify }}

      {% include footer.md %}
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="assets/javascript/ShareButton.min.js"></script>
    <script src="assets/javascript/site.js"></script>
    {% include analytics.html %}
  </body>
</html>

