
  <head>
    <meta charset="UTF-8">
    <title>{{site.github.project_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ site.data.pkg.keywords }}">
    <meta name="description" content="{{site.github.project_tagline}}">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="assets/css/github-light.css" media="screen">
  </head>
